/* Global Styles */

body {
    margin: 0;
    background-color: whitesmoke;
    font-family:'Courier New', Courier, monospace;
}

select {
    padding: 0.5em;
    font: inherit;
}

button {
    padding: 0.5em;
    border: none;
    font: inherit;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #333;
}

/* Header */

.header {
    width: 100%;
    padding: 1em 0;
    color: #000;
    background-color: #fff;
    margin-bottom: 1em;
    text-align: center;
    border-bottom: solid 1px #000;
}

/* Container that holds the bar container and controls */

.container {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: start;
    gap: 1em;
    max-width: 1000px;
    margin: 0 auto;
    padding: 1em;
    box-sizing: border-box;
}

@media only screen and (max-width: 800px) {
    .container {
        width: 90%;
        grid-template-columns: none;
        grid-template-rows: 60% 40%;
        align-items: center;
    }
}

/* Controls Section */

.controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    border: solid 1px #000;
    background-color: #fff;
    padding: 1em;
    box-sizing: border-box;
}

.controls-inputs {
    overflow: auto;
}

.row {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-bottom: 1em;
    box-sizing: border-box;
}

/* Bar Container */

.bars-section {
    padding: 1em;
    background-color: #fff;
    border: solid 1px #000;
}

.bars {
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(20, auto);
    align-items:end;
    justify-content: space-evenly;
}

@media only screen and (max-width: 800px) {
    .bars {
        height: 35vh;
    }
}

/* A single bar */

.bar {
    background-color: orange;
    border-right: solid 0.25px black;
    box-sizing: border-box;
}