/* Global Styles */

body {
    margin: 0;
    background-color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

select {
    padding: 0.5em;
    font: inherit;
}

button {
    padding: 0.5em;
    border: none;
    font: inherit;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    width: 100%;
    transition: 0.1s;
}

button:hover {
    background-color: #333;
    color: #fff;
}

/* Header */

.header {
    width: 100%;
    padding: 1em 0;
    margin-bottom: 1em;
    text-align: center;
}

/* Container that holds the bar container and controls */

.container {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: start;
    gap: 1em;
    max-width: 1000px;
    margin: 0 auto;
    padding: 1em;
    box-sizing: border-box;
}

@media only screen and (max-width: 800px) {
    .container {
        width: 90%;
        grid-template-columns: none;
        grid-template-rows: 60% 40%;
        align-items: center;
    }
}

/* Controls Section */

.controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: #fff;
    padding: 1em;
    box-sizing: border-box;
}

.controls-inputs {
    overflow: auto;
}

.controls-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.row {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-bottom: 1em;
    box-sizing: border-box;
}

/* Bar Container */

.bars-section {
    padding: 1em;
    background-color: #fff;
}

.bars {
    height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: end
}

@media only screen and (max-width: 800px) {
    .bars {
        height: 35vh;
    }
}

/* A single bar */

.bar {
    background-color: #333;
    box-sizing: border-box;
    width: 100%;
}

.rounded {
    border-radius: 1rem;
}

.shadow {
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);
}

.bordered {
    border: 1px solid rgba(0, 0, 0, 0.1);
}